*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

nav{
    width: 100%;
    height: 100px;
    position: sticky;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(0, 128, 70);
}

.logo{
    flex-basis: 20%;
}

.logo img{
    height: 140px;
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li a:hover{
    color: aqua;
}

.cart-btn{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#cart{
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
}

.cart-quantity{
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: 0.8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
}

.div{
    background: linear-gradient(#d3d3d3, white);
}

.intro-section{
    margin: 0;
    padding: 0;
    height: 350px;
    width: 100%;
    background-color: linear-gradient(to right, #8d579f, #fff);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content{
    margin: 80px 100px;
    display: flex;
    flex-direction: column;
    padding: 60px auto;
    float: left;
}

.intro-section img{
    float: right;
    height: 350px;
    margin: 0;
    width: 400px;
}

.content h1{
    font-weight: bolder;
    text-align: center;
}

.content p{
    font-weight: bold;
    text-align: center;
}

.categories{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: #fff;
    position: relative;
    align-items: center;
    width: 100%;
    height: 210px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.women, .kids, .men{
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: auto;
    align-items: center;
    background-color: #8d579f;
    color: black;
    border: 1px solid #8d579f;
}

.categories h1{
    text-align: center;
}

.categories img{
    height: 200px;
    width: 350px;
    margin: 10px;
}

.reviews{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    width: 100%;
    height: 180px;
    padding-top: 20px;
}

.reviews h1{
    text-align: center;
}

.rev{
    margin-top: 150px;
}

.fa-star{
    font-size: xx-large;
}

.checked{
    color: gold;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #8d579f;
    max-width: 330px;
}

.review{
    margin-top: 20px;
}

footer{
    background-color: #8d579f;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 230px;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.address{
    margin: 15px;
}

.address h1{
    font-style: italic;
}

.socials{
    display: flex;
    flex-direction: row;
}

.fa {
    padding: 5px;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }

.fa-twitter, .fa-facebook, .fa-instagram{
    color: black;
}

.pics{
    display: flex;
    flex-direction: row;
}

.footer img{
    height: 50px;
    width: 80px;
    margin: 10px;
}

.company, .services p{
    margin: 5px;
}

.products{
    margin-left: 10px;
}
